<div class="signin-div">
  <div class="contents">


    <h3>Single's Sign Up</h3>


    <%= form_for @guy do |f| %>
                <%= f.label :username %>
                <%= f.text_field :username %>
                <%= f.label :password %>
                <%= f.password_field :password %>
                <br>
                <%= f.label :phone_number %>
                <%= f.text_field :phone_number %>&nbsp&nbsp&nbsp&nbsp&nbsp
                <%= f.submit "Create Profile"%>
            <% end %>


  </div>
</div>
        <style media="screen">
          body{
            background: url("http://i.imgur.com/qQPEjQe.png");
        /*background-color: grey;*/
            background-repeat: no-repeat;
            background-size: cover;

          }

          .signin-div{
            background-color: rgba(255, 255, 255, 0.5);
            width: 55%;
            height: 180px;
            padding-top: 1%;
            border-top: 20%;
            margin-top: 20%;
            margin-left: 20%;
          }

          .contents{
            top: 10%;
            margin-left: 5%;
          }
        </style>
